ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
}
li a {
  display: block;
  background-color: white;
  color: #5e0730;
  padding: 16px 16px;
  text-decoration: none;
}
li a:hover, a.active-link {
  color: white;
  text-decoration: none;
  background: #5e0730;
}